*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(2,28,144);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    font-family: "Century Gothic";
}
h1{
    color: rgb(2,250,147);
}

h1,#menu{
    display: inline-block;
}
#menu{
    margin-left: 100px;
}
#menu a{
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 2px;

}
#menu a:hover{
    background-color: white;
    color: rgb(2,28,144);
}
#identités,
#reseaux,
#produits{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
}
h2{
    color:rgb(2,28,144);
    margin-top: 15px;
    margin-bottom: 15px;
}
td{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

#produits p{
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
    vertical-align: top;
}

#produits p img{
    width: 200px;
}

